     <h3> A world of data awaits you! </h3>
      
      </div>
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content home-login"> 
        <div class="error" ng-show="error_show">
         <p class="error-msg" > <span class="fa fa-times-circle" style="font-size:18px !important;vertical-align:top;margin-right: 10px;"></span> Someone has already anagged that email address! Was it you? <a href="#/" style="text-decoration:none"> Log in </a> instead </p> 
      </div>  

        <div class="validation-error" ng-show="validation_show" style="minimum-height:20px">        

          <p class="error-msg" ng-show="emailvalidation"> <span class="fa fa-times-circle" style="font-size:18px !important;vertical-align:top;margin-right: 10px;"></span> <b>Huh!</b>   That doesn’t look like any email format we’ve seen before...</p> 

          <p class="error-msg" ng-show="passwordvalidation"> <span class="fa fa-times-circle" style="font-size:18px !important;vertical-align:top;margin-right: 10px;"></span>   Sorry that was too short to access this awesomeness. Passwords need to be at least 6 characters</p> 

      </div>    

          <div class="modal-body">
              <div class="row">
              	    <div class="col-xs-6 social" style="padding:45px">
                     
				     <a class="btn btn-block btn-social btn-facebook" ng-class="{ 'deactive': social_show }" href="#" ng-click="authenticate('facebook')" >
                <i class="fa fa-facebook"></i> Facebook Login
              </a>
                  <a class="btn btn-block btn-social btn-google-plus" ng-class="{ 'deactive': social_show }" ng-click="authenticate('google')" >
                  <i class="fa fa-google-plus"></i> Google Logn
                </a>
                <a class="btn btn-block btn-social btn-github" ng-class="{ 'deactive': social_show }" ng-click="authenticate('github')">
                <i class="fa fa-github"></i> GitHub Login
              </a>
                    <a class="btn btn-block btn-social btn-linkedin" ng-class="{ 'deactive': social_show }" ng-click="authenticate('linkedin')">
                  <i class="fa fa-linkedin" ></i> LinkedIn Login
                </a>
					       <div style="text-align:center"><p>We won't post anything without asking</p></div>
                  </div>

                  <div class="col-xs-6 login" style="padding:45px">
                     
                          <form id="loginForm" method="POST"  validate name="RegisterForm"  ng-submit="register()">
                              <div class="form-group">
                                 
                                  <input type="text" class="form-control" id="email" name="email" ng-model="user.email" value="" required title="Please enter you email" placeholder="Email" ng-blur="RegisteredUser()" ng-class="{ 'danger': emailvalidation }">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                
                                  <input type="password" class="form-control" id="password" name="password" ng-model="user.password" value="" required title="Please enter your password" placeholder="Password" ng-class="{ 'danger': passwordvalidation }">
                                  
                              </div>
                                  <p class="signup-note" ng-class="{ 'danger': pswd_length }">At least 6 characters in length</p>
                            
                              <div class="submit-button">
                                   <button type="submit" class="btn btn-success btn-block">Sign up!</button>
                              </div>
                             <p class="signup-note2">By clicking "Sign up!" I agree to Import.io <span>Terms of Service</span></p>
                              
                          </form>
                     
                  </div>
                
              </div>
          </div>
       </div>
    </div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
       <div class="row footer" style="text-align:center">
        <div class="col-md-12">
        <p>Already have an account? <a href="#/">Log in here</a></p>
        </div>
      </div>