<!DOCTYPE html>
<html ng-app="ImportClient" lang="en">
  <head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Import.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!--  <title><%#= content_for?(:title) ? yield(:title) : "Import" %></title> -->
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  

    <!-- <link href="assets/favicon.ico" rel="shortcut icon"> -->

  </head>
<body>

  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
        <div style="float:left;" data-reactid=".211397s0u0w.0.0"><a href="https://import.io" data-reactid=".211397s0u0w.0.0.0"><svg style="margin:15px;width:132px;" viewBox="0 0 1500 280" data-reactid=".211397s0u0w.0.0.0.0"><g id="Page-1" stroke="none" fill="none" data-reactid=".211397s0u0w.0.0.0.0.0"><g id="import-logo-new-white" fill="#FFFFFF" data-reactid=".211397s0u0w.0.0.0.0.0.0"><path d="M475.3,222.8 C458.2,222.8 444.2,216.5 436,209.5 L436,279.3 L391.6,279.3 L391.6,67.3 L435.4,67.3 L435.4,78.1 C443.6,70.5 458.2,63.5 475.4,63.5 C517.3,63.5 551.5,94 551.5,143.4 C551.4,191.7 517.1,222.8 475.3,222.8 L475.3,222.8 Z M470.8,183.5 C491.1,183.5 506.3,167.6 506.3,143.5 C506.3,119.4 491.1,103.5 470.8,103.5 C450.5,103.5 435.3,119.4 435.3,143.5 C435.3,167.6 451.1,183.5 470.8,183.5 L470.8,183.5 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.0"></path><path d="M1419.4,58.5 C1465.1,58.5 1500,92.8 1500,138.4 C1500,184 1465.1,217.7 1419.4,217.7 C1373.7,217.7 1338.8,184.1 1338.8,138.4 C1338.8,92.7 1373.7,58.5 1419.4,58.5 L1419.4,58.5 Z M1419.4,177.1 C1439.7,177.1 1454.9,161.2 1454.9,138.4 C1454.9,115.6 1439.7,99.7 1419.4,99.7 C1399.1,99.7 1383.9,115.6 1383.9,138.4 C1383.9,161.3 1399.1,177.1 1419.4,177.1 L1419.4,177.1 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.1"></path><path d="M676.4,58.5 C722.1,58.5 757,92.8 757,138.4 C757,184 722.1,217.7 676.4,217.7 C630.7,217.7 595.8,184.1 595.8,138.4 C595.8,92.7 630.7,58.5 676.4,58.5 L676.4,58.5 Z M676.4,177.1 C696.7,177.1 711.9,161.2 711.9,138.4 C711.9,115.6 696.7,99.7 676.4,99.7 C656.1,99.7 640.9,115.6 640.9,138.4 C640.9,161.3 655.5,177.1 676.4,177.1 L676.4,177.1 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.2"></path><path d="M1150.4,164.4 C1165.6,164.4 1177.7,176.5 1177.7,191 C1177.7,205.5 1165.6,217.6 1150.4,217.6 C1135.2,217.6 1123.8,205.5 1123.8,191 C1123.8,176.5 1135.8,164.4 1150.4,164.4 L1150.4,164.4 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.3"></path><path d="M0,0.1 L44.4,0.1 L44.4,42 L0,42 L0,0.1 L0,0.1 Z M0,65.4 L44.4,65.4 L44.4,217.7 L0,217.7 L0,65.4 L0,65.4 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.4"></path><path d="M1251.3,0.1 L1295.7,0.1 L1295.7,42 L1251.3,42 L1251.3,0.1 L1251.3,0.1 Z M1251.3,65.4 L1295.7,65.4 L1295.7,217.7 L1251.3,217.7 L1251.3,65.4 L1251.3,65.4 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.5"></path><path d="M476.5,222.8 C459.4,222.8 445.4,216.5 437.2,209.5 L437.2,279.3 L392.8,279.3 L392.8,67.3 L436.6,67.3 L436.6,78.1 C444.8,70.5 459.4,63.5 476.6,63.5 C518.5,63.5 552.7,94 552.7,143.4 C552.7,191.7 518.4,222.8 476.5,222.8 L476.5,222.8 Z M472.1,183.5 C492.4,183.5 507.6,167.6 507.6,143.5 C507.6,119.4 492.4,103.5 472.1,103.5 C451.8,103.5 436.6,119.4 436.6,143.5 C436.6,167.6 451.8,183.5 472.1,183.5 L472.1,183.5 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.6"></path><path d="M845.2,217.7 L800.8,217.7 L800.8,65.4 L888.4,65.4 L888.4,106 L844.6,106 L844.6,217.7 L845.2,217.7 L845.2,217.7 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.7"></path><path d="M964.5,217.7 L964.5,106.7 L938.5,106.7 L938.5,66.1 L964.5,66.1 L964.5,23 L1012.1,23 L1012.1,65.5 L1052.1,65.5 L1052.1,106.1 L1008.3,106.1 L1008.3,177.2 L1050.2,177.2 L1050.2,217.8 L964.5,217.8 L964.5,217.7 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.8"></path><path d="M334.4,217.7 L290,217.7 L290,106.7 L240.5,106.7 L240.5,218.4 L196.1,218.4 L196.1,106.7 L146.6,106.7 L146.6,218.4 L102.2,218.4 L102.2,66.1 L334.4,66.1 L334.4,217.7 L334.4,217.7 Z" id="Shape" data-reactid=".211397s0u0w.0.0.0.0.0.0.9"></path></g></g></svg></a></div>

        <div style="float:right;margin:23px;" ng-hide ng-controller="WelcomeCtrl"><a class="" href="#/" ><button type="button" class="btn btn-sm outline" >Log in</button></a></div>

        </div>

      </div>
      <div class="row header" style="text-align: center;">
        <div class="col-md-12">
         <svg style="margin-bottom:20px;width:278px;" viewBox="0 0 1500 280" data-reactid=".211397s0u0w.1.0.0.0.0.0"><g id="Page-1" stroke="none" fill="none" data-reactid=".211397s0u0w.1.0.0.0.0.0.0"><g id="import-logo-new-white" fill="#FFFFFF" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0"><path d="M475.3,222.8 C458.2,222.8 444.2,216.5 436,209.5 L436,279.3 L391.6,279.3 L391.6,67.3 L435.4,67.3 L435.4,78.1 C443.6,70.5 458.2,63.5 475.4,63.5 C517.3,63.5 551.5,94 551.5,143.4 C551.4,191.7 517.1,222.8 475.3,222.8 L475.3,222.8 Z M470.8,183.5 C491.1,183.5 506.3,167.6 506.3,143.5 C506.3,119.4 491.1,103.5 470.8,103.5 C450.5,103.5 435.3,119.4 435.3,143.5 C435.3,167.6 451.1,183.5 470.8,183.5 L470.8,183.5 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.0"></path><path d="M1419.4,58.5 C1465.1,58.5 1500,92.8 1500,138.4 C1500,184 1465.1,217.7 1419.4,217.7 C1373.7,217.7 1338.8,184.1 1338.8,138.4 C1338.8,92.7 1373.7,58.5 1419.4,58.5 L1419.4,58.5 Z M1419.4,177.1 C1439.7,177.1 1454.9,161.2 1454.9,138.4 C1454.9,115.6 1439.7,99.7 1419.4,99.7 C1399.1,99.7 1383.9,115.6 1383.9,138.4 C1383.9,161.3 1399.1,177.1 1419.4,177.1 L1419.4,177.1 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.1"></path><path d="M676.4,58.5 C722.1,58.5 757,92.8 757,138.4 C757,184 722.1,217.7 676.4,217.7 C630.7,217.7 595.8,184.1 595.8,138.4 C595.8,92.7 630.7,58.5 676.4,58.5 L676.4,58.5 Z M676.4,177.1 C696.7,177.1 711.9,161.2 711.9,138.4 C711.9,115.6 696.7,99.7 676.4,99.7 C656.1,99.7 640.9,115.6 640.9,138.4 C640.9,161.3 655.5,177.1 676.4,177.1 L676.4,177.1 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.2"></path><path d="M1150.4,164.4 C1165.6,164.4 1177.7,176.5 1177.7,191 C1177.7,205.5 1165.6,217.6 1150.4,217.6 C1135.2,217.6 1123.8,205.5 1123.8,191 C1123.8,176.5 1135.8,164.4 1150.4,164.4 L1150.4,164.4 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.3"></path><path d="M0,0.1 L44.4,0.1 L44.4,42 L0,42 L0,0.1 L0,0.1 Z M0,65.4 L44.4,65.4 L44.4,217.7 L0,217.7 L0,65.4 L0,65.4 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.4"></path><path d="M1251.3,0.1 L1295.7,0.1 L1295.7,42 L1251.3,42 L1251.3,0.1 L1251.3,0.1 Z M1251.3,65.4 L1295.7,65.4 L1295.7,217.7 L1251.3,217.7 L1251.3,65.4 L1251.3,65.4 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.5"></path><path d="M476.5,222.8 C459.4,222.8 445.4,216.5 437.2,209.5 L437.2,279.3 L392.8,279.3 L392.8,67.3 L436.6,67.3 L436.6,78.1 C444.8,70.5 459.4,63.5 476.6,63.5 C518.5,63.5 552.7,94 552.7,143.4 C552.7,191.7 518.4,222.8 476.5,222.8 L476.5,222.8 Z M472.1,183.5 C492.4,183.5 507.6,167.6 507.6,143.5 C507.6,119.4 492.4,103.5 472.1,103.5 C451.8,103.5 436.6,119.4 436.6,143.5 C436.6,167.6 451.8,183.5 472.1,183.5 L472.1,183.5 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.6"></path><path d="M845.2,217.7 L800.8,217.7 L800.8,65.4 L888.4,65.4 L888.4,106 L844.6,106 L844.6,217.7 L845.2,217.7 L845.2,217.7 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.7"></path><path d="M964.5,217.7 L964.5,106.7 L938.5,106.7 L938.5,66.1 L964.5,66.1 L964.5,23 L1012.1,23 L1012.1,65.5 L1052.1,65.5 L1052.1,106.1 L1008.3,106.1 L1008.3,177.2 L1050.2,177.2 L1050.2,217.8 L964.5,217.8 L964.5,217.7 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.8"></path><path d="M334.4,217.7 L290,217.7 L290,106.7 L240.5,106.7 L240.5,218.4 L196.1,218.4 L196.1,106.7 L146.6,106.7 L146.6,218.4 L102.2,218.4 L102.2,66.1 L334.4,66.1 L334.4,217.7 L334.4,217.7 Z" id="Shape" data-reactid=".211397s0u0w.1.0.0.0.0.0.0.0.9"></path></g></g></svg>
        </div>
     



            <!-- templates load here -->
          <div  ng-view class="row">
          
          
                 
          </div><!--/row-->

            <!-- templates load here -->     

     

  </div><!--/container-fluid-->

      <div class="row final-footer">
        <div class="col-md-12">
        <p class="pull-left">Terms and conditions   Privacy</p>
        <p class="pull-right">import.io</p>
        </div>
      </div>

</body>
</html>

